<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  <div class="danger">
    <%= flash[:danger] %>
  </div>

  <div id="LoginForm">
    <div class="container">
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>Login</h2>
            <p>Please enter your email and password</p>
          </div>
          <div id="Login" class="form-group">
            <%= form.email_field :email, class: "form-control", placeholder: "Email address" %>
            <%= form.password_field :password, class: "form-control", placeholder: "Password" %>

            <%= form.submit 'Log in', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
