<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="LoginForm">
    <div class="container">
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>Signup</h2>
            <p>New to EventPlanner? Sign up!</p>
          </div>
          <div id="Login" class="form-group">
            <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
            <%= form.email_field :email, class: "form-control", placeholder: "Email address" %>
            <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
            <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Password" %>

            <%= form.submit 'Sign up', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
