<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row col-md-6 col-md-offset-2 custyle">
    <table id="mytable" class="table table-striped custab">
      <thead>
        <h1>Users</h1>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, user %></td>
            <td><%= user.email %></td>

          </tr>
        <% end %>
      </tbody>


    </table>
  </div>
</div>
<br>

<%= link_to 'New User', new_user_path %>
