<p id="notice"><%= notice %></p>

<h1>Events</h1>

<% @events.each do |event| %>
  <ul class="list-group">
    <!--<div class="card-body">-->
      <li class="list-group-item">
        <%= link_to event.name, event %>
        <% if event.owner == current_user %>
          </br>
          <div class="btn btn-link">
            <%= link_to 'Edit', edit_event_path(event) %>
          </div>
          <div class="btn btn-link">
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </li>

  </ul>
<% end %>

<br>

<% if current_user %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
