<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="LoginForm">
    <div class="container">
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>Create new category </h2>
          </div>
          <div id="Login" class="form-group">
            <%= form.text_field :name, class: "form-control", placeholder: "Category name" %>
            <%= form.text_area :description, class: "form-control", placeholder: "Description" %>
            <%= form.file_field :image %>
            <%= form.submit 'Create New Category', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--div class="actions">
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :description %>
    <%= form.text_area :description %>

    <%= form.submit %>
  </div-->
<% end %>
