<p id="notice"><%= notice %></p>
<h1><%= @category.name %></h1>
<div class="udesign">
  <div class="ui container">
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="ui three stackable cards">
          <% @category.events.each do |event| %>
            <div class="card">
              <div class="ui left piled segment">
                <%# In production, we validate that a new category must have an image %>
                <%# so this test will always return true. However, in testing, I don't %>
                <%# know how to attach an image to a test category. Since the exact %>
                <%# content of the image is not important, I am working around this %>
                <%# by simply ignoring the image portion of the file with this %>
                <%# conditional. %>
                <% if event.image.attached? %>
                  <%= image_tag event.image, :class => "img-fluid" %>
                <% end %>
                <h3 class="card-body" style="margin-top: 0px;" ><%= link_to event.name, event %></h3>
                <div class="floated right text-center description">
                  <%= event.description %> </br>
                  <%= event.date.in_time_zone("EST").strftime("%d-%b-%Y at %I:%M%p") + " EST" %>
                </div>
                <% if current_user %>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <% if @has_rsvp_ed_all[event.id] && @status_all[event.id] %>
                        <%= button_to change_status_path(:event_id => event.id, :new_status => true), :method => :post, class: 'btn btn-success active' do %>
                          <i class="glyphicon glyphicon-ok">Accept</i>
                        <% end %>
                      <% else %>
                        <%= button_to 'Accept', change_status_path(:event_id => event.id, :new_status => true), :method => :post, class: 'btn btn-success' %>
                      <% end %>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <% if @has_rsvp_ed_all[event.id] && !@status_all[event.id] %>
                        <%= button_to change_status_path(:event_id => event.id, :new_status => false), :method => :post, class: 'btn btn-danger active', style: 'float: right;' do %>
                          <i class="glyphicon glyphicon-remove">Decline</i>
                        <% end %>
                      <% else %>
                        <%= button_to 'Decline', change_status_path(:event_id => event.id, :new_status => false), :method => :post, class: 'btn btn-danger', style: 'float: right;' %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', categories_path %>
